<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS</title>
</head>

<body class="bg-secondary">

    <!-- Header -->
    <div class="container-fluid mt-2 p-3 bg-primary-subtle text-dark">
        <h1 class="text-center">Hospital Management System</h1>
    </div>

    <!-- Navigation Buttons -->
    <div class="container-fluid mt-2 p-3 bg-primary-subtle text-dark d-flex gap-3">

        <!-- Patient -->
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">
                Patient
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('add_patient')}}">Add Patient</a></li>
                <li><a class="dropdown-item" href="{{ url_for('view_update_patient')}}">View & Update</a></li>
            </ul>
        </div>

        <!-- Task -->
        <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                Task
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('add_task')}}">Add Task</a></li>
                <li><a class="dropdown-item" href="{{ url_for('view_update_task')}}">View & Update</a></li>
            </ul>
        </div>

        <!-- Billing -->
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">
                Billing
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('add_patient_bill')}}">Add Patient Bill</a></li>
                <li><a class="dropdown-item" href="{{ url_for('view_update_patient_bill')}}">View Patient Bills</a></li>
                <li><a class="dropdown-item" href="{{ url_for('add_operational_bill')}}">Add Operational Bill</a></li>
                <li><a class="dropdown-item" href="{{ url_for('view_update_operational_bill')}}">View Operational Bills</a></li>
            </ul>
        </div>

    </div>

    <!-- Page Content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>