{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-2 p-3 bg-primary-subtle text-dark">
    <h1 class="text-center">Edit Attendance Page</h1>
</div>


<form method="POST">
    <div class="mb-3">
        <label>Date</label>
        <input type="date" name="date" class="form-control" value="{{ attendance.date }}" required>
    </div>

    <div class="mb-3">
        <label>Check In Time</label>
        <input type="time" name="check_in_time" class="form-control" value="{{ attendance.check_in_time }}">
    </div>

    <div class="mb-3">
        <label>Check Out Time</label>
        <input type="time" name="check_out_time" class="form-control" value="{{ attendance.check_out_time }}">
    </div>

    <div class="mb-3">
        <label>Employee</label>
        <select name="employee_id" class="form-control" required>
            <option value="" disabled {% if not attendance.employee_id %}selected{% endif %}>Select employee</option>
            {% for employee in employees %}
            <option value="{{ employee.id }}" {% if attendance.employee_id == employee.id %}selected{% endif %}>{{ employee.full_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Status</label>
        <select name="status" class="form-control" required>
            <option value="Present" {% if attendance.status == 'Present' %}selected{% endif %}>Present</option>
            <option value="Absent" {% if attendance.status == 'Absent' %}selected{% endif %}>Absent</option>
            <option value="Late" {% if attendance.status == 'Late' %}selected{% endif %}>Late</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Update Attendance</button>
    <a href="{{ url_for('attendance.view_update_attendance') }}" class="btn btn-secondary">Back</a>
</form>

{% endblock %}