{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-2 p-3 bg-primary-subtle text-dark">
    <h1 class="text-center">Edit Attendance Page</h1>
</div>


<form method="POST">
    <div class="mb-3">
        <label>Date</label>
        <input type="date" name="date" class="form-control" value="{{ attendance.date }}" required>
    </div>

    <div class="mb-3">
        <label>Check In Time</label>
        <input type="time" name="check_in_time" class="form-control" value="{{ attendance.check_in_time }}">
    </div>

    <div class="mb-3">
        <label>Check Out Time</label>
        <input type="time" name="check_out_time" class="form-control" value="{{ attendance.check_out_time }}">
    </div>

    <div class="mb-3">
        <label>Status</label>
        <input type="text" name="status" class="form-control" value="{{ attendance.status }}">
    </div>

    <button type="submit" class="btn btn-success">Update Attendance</button>
    <a href="{{ url_for('attendance.view_update_attendance') }}" class="btn btn-secondary">Back</a>
</form>

{% endblock %}