{% extends "base.html" %}
{% block content %}
<div class="container-fluid mt-2 p-3 bg-primary-subtle text-dark">
    <h1 class="text-center">You are in View & Update Employee</h1>
</div>

<form method="POST">
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Shift</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for p in employees %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.full_name }}</td>
                <td>{{ p.role }}</td>
                <td>{{ p.phone_number }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.shift }}</td>
                <td>
                    <a href="/edit_employee/{{ p.id }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}